Tiny.Jarvis/Tiny.Jarvis/Excercises/GradientCheck.cs
Tiny.Jarvis/Tiny.Jarvis/Excercises/Chapter9Exercise.cs
Tiny.Jarvis/Tiny.Jarvis/Excercises/Chapter8Exercise.cs
Tiny.Jarvis/Tiny.Jarvis/Excercises/Chapter7Exercise.cs
Tiny.Jarvis/Tiny.Jarvis/Excercises/Chapter6Exercise.cs
Tiny.Jarvis/Tiny.Jarvis/Excercises/Chapter5Exercise.cs
Tiny.Jarvis/Tiny.Jarvis/Excercises/Chapter4Exercise.cs
Tiny.Jarvis/Tiny.Jarvis/Excercises/Chapter3Exercise.cs
Tiny.Jarvis/Tiny.Jarvis/Excercises/Chapter2Exercise.cs
Tiny.Jarvis/Tiny.Jarvis/Excercises/Chapter1Exercise.cs
Tiny.Jarvis/Tiny.Jarvis/Excercises/Chapter10Exercise.cs
